<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Hello {{ full_name }},


<form method="post" action="/items">
    Photo: <br>
    <input type="text" name='photo'><br>
    Name: <br>
    <input type="text" name='name'><br>
    Description: <br>
    <input type="text" name='description'><br>
    price_hour: <br>
    <input type="number" name='price_hour'><br>
    price_day: <br>
    <input type="number" name='price_day'><br>
    price_week: <br>
    <input type="number" name='price_week'><br>
    price_month: <br>
    <input type="number" name='price_month'><br>

    <input type="submit" value="send">
</form>
</body>
</html>